<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Old Blog Template - Free CSS Layout</title>
<meta name="keywords" content="free css layout, old blog template, CSS, HTML" />
<meta name="description" content="Old Blog Template - free website template provided by TemplateMo.com" />
<link href="~/content/templatemo_style.css" rel="stylesheet" type="text/css" />
<!--  Designed by w w w . t e m p l a t e m o . c o m  -->
<link rel="stylesheet" type="text/css" href="~/content/tabcontent.css" />
<script type="text/javascript" src="~/Script/tabcontent.js">
/***********************************************
* Tab Content script v2.2- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
   function validate(form)
{

if(form.login.value == "admin" && form.password.value == "123")
{
window.open('admHome.html','_self')
}
else
{
  alert("Username or password is incorrect. Please try again!")
}
}



</script>
</head>
<body>

	<div id="templatemo_header_panel">
    	<div id="templatemo_title_section">
				<b><font color="black" size="20">PUCIT Hostels</font></b>

	    </div>
    </div> 
    
    <div id="templatemo_menu_panel">
    	<div id="templatemo_menu_section">
            <ul>
                <li>@Html.ActionLink("Home" , "index" , "Home")</li>
                <li>@Html.ActionLink("Apply" , "register" , "Home")</li>
                <li><a href="#">Admin</a></li> 
                <li>@Html.ActionLink("About" , "about" , "Home")</li>
                <li>@Html.ActionLink("Contact" , "contact" , "Home")</li>                       
            </ul> 
		</div>
    </div> <!-- end of menu -->
    
	<div id="templatemo_content_container">
        <div id="templatemo_content">
            <div id="templatemo_content_left">
				
                <div class="templatemo_post_wrapper">
                <div class="templatemo_post">
                
 @*  **************************************************LOGIN**********************************@
                    @model practice.Models.AdmLogin


 <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
 <![endif]-->
<!--[if IE 7]> 
<html class="lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]>
 <html class="lt-ie9" lang="en"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en"> <!--<![endif]-->
<head>
 
 <meta charset="utf-8">
 
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
 <title>Dark Login Form</title>
 
 <link rel="stylesheet" href="~/content/style.css">
 
 <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->
</head>
<body>
    <font align="center" size="15">Admin Login</font><br /><br />
    <font color="red">*Please enter VALID UserName & Password</font>
  <form name="form" method="post" action="/Home/adminLogin1" class="login" >
   
 <p>
      <label for="login"> Username </label>
    
  <input type="text" name="userName" id="login" value=""/>
     @* UserName
                @Html.TextBoxFor(Model => Model.UserNameA)*@
  
  </p>

    <p>
      <label for="password">Password </label>
     
 <input type="password" name="password" id="password" value=""/>

        @* Password
                @Html.TextBoxFor(Model => Model.PasswordA)*@
    </p>

  
  <p class="login-submit">
    
  <button type="submit" class="login-button">Login</button>
    </p>
     @* <li>@Html.ActionLink("Admin Home" , "admHome" , "Home")</li> *@
  
  </form>
      </div>
    </div>
@************************************************************************************@
  </div>
    </div>
          </div>
 
        <div id="templatemo_bottom_panel">
    	<div id="templatemo_bottom_section">
            <div class="templatemo_bottom_section_content">
                <h3>Partner Links</h3>
                <ul>
                    <li><a href="http://www.pulc.edu.pk/">LAW Department PU</a></li>
                    <li><a href="http://pu.edu.pk/home/department/44/Institute-of-Chemistry">Chemistry Department</a></li>
                    <li><a href="http://pu.edu.pk/program/show/6501/Centre-for-Geographic-Information-System-GIS">GIS Centre</a></li>
                    <li><a href="http://puhcbf.pu.edu.pk/">Hailey College</a></li>
                    <li><a href="http://pu.edu.pk/home/department/2/University-College-of-Arts---Design">Arts & Design</a></li>
                </ul>
            </div>
            
            <div class="templatemo_bottom_section_content">
                <h3>Other Links</h3>
                 <ul>
                 <li><a href="/Home/facilities/">Facilities</a></li>
                    <li><a href="/Home/contact/">Contact</a></li>
                    <li><a href="http://www.pu.edu.pk/">PU Official Site</a></li>                 
                    <li><a href="http://www.pucit.edu.pk/">PUCIT Official Site</a></li>
                </ul>
            </div>
            
            <div class="templatemo_bottom_section_content">
                <h3>About this blog</h3>
                <p>Hostels are generally cheaper for both the operator and the occupants, many hostels have long-term residents whom they employ as desk clerks or housekeeping staff in exchange for free accommodation.</p>
                 </div>
            
        </div>
    </div> <!-- end of templatemo bottom panel -->
    
    


        </body>
</html>

